[submodule "terminal-tools/zsh/plugins/zsh-autosuggestions"]
	path = terminal-tools/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "terminal-tools/zsh/plugins/zsh-completions"]
	path = terminal-tools/zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	ignore = dirty
[submodule "terminal-tools/zsh/plugins/ohmyzsh"]
	path = terminal-tools/zsh/plugins/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "terminal-tools/zsh/plugins/zsh-syntax-highlighting"]
	path = terminal-tools/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
